.PledgeAmount-container {
  background-color: lightblue;
  text-align: left;
  padding-left: 50px;
  padding-top: 40px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: green;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding-top: 20px;
  font-size: large;
}

.App-container {
  padding-top: 5px;
  padding: 50px;
  margin: 50;
  display: 'inline';
}

.App-card-list {
  display: inline-block;
  width: 100%;
  padding: 50px;
  margin: 50;
}

.Charity {
  background-color: #8ac852;
}

.wrap {
  padding-top: 10px;
  margin: 0;
  width: 90%;
  display: 'flex';
  align-items: flex-start;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  background: cyan;
  white-space:normal;
  overflow-x: scroll;
}

/* display:inline-block;
width:100%;
float:right;
margin:0;
min-height: 75vh;
white-space:normal;
overflow-x: scroll;
margin-top:-70px;
flexDirection: 'row';
flexWrap: 'wrap';
justifyContent: 'space-between';
alignContent: 'center'; */
